.pie-pagina{
    width: 100%;
    background-color: #916932;
    margin-top: 100px;
    font-size: 14px;
    color: white;
}
.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 120px;
}
.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.pie-pagina .grupo-1 .box .direccion {
    font-weight: 400;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color:white;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    margin-left: 20px;

}

.pie-pagina .grupo-1 .box .telefono svg{
    margin-right: 10px;
    text-decoration: none; 
    color: inherit;
    
}


.pie-pagina .grupo-2{
    background-color: #efbb74;
    padding: 5px ;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 p{
    font-size: 15px;
    font-weight: 400;
}



@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 3fr);
        grid-gap: 0px;
        padding: 45px 0px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 70px;
    }
    .pie-pagina{
        width: 100%;
        background-color: #916932;
        margin-top: 50px;
        font-size: 14px;
        color: white;
    }
    .pie-pagina .grupo-2 p{
        font-size: 15px;
        font-weight: 100;
    }
    
}