.quienesSomos{
    margin-top: 150px;
}

.quienesSomos-card {
    background: linear-gradient(90deg, #eccfa7 0%,#927246 50%, #916932 100%);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px rgba(157, 111, 36, 0.5);
    color: white;
    text-align: center;
    padding: 60px 30px;
}

.quienesSomos-card p {
    font-weight: 200;
}

.quienesSomos-card h3 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
}

.card-imagen{
    display: none;
}

@media screen and (min-width: 800px) {
    
    .quienesSomos-card {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: center;
        padding-left: 100px;
        padding-bottom: 80px;
    }
    .quienesSomos-card p {
        font-size: 1.1rem;
    }
    .quienesSomos-card-container {
        grid-column: 1/2;
    }

    .card-imagen{
        display: flex;
        justify-content: center;
    }
    .card-imagen img {
        opacity: 40%;
        width: 40%;
    }
}